/*头部部分*/
body{
    margin-top: 0;
    margin-bottom: 20px;
    font: 14px/1.5 'Microsoft Yahei','Simsun',Tahoma;
    color: #444;
    background: #F3F3F3;
}
.navbar {
    border-radius: 1px;
}
.nav-margin-left{
    margin-left: 120px;
}
.navbar-right{
    margin-right: 70px;
    margin-top: 13px;
    font-size: 16px;
    color: #fff;
}
.navbar-right > span > a{
    color: #fff;
}
a:link,a:hover,a:active{
    text-decoration: none;
}
[v-cloak]{
    display: none;
}

/*用户注册,登录弹窗部分*/
.lay-head-title{
    color: #fff !important;
    background-color: #89B426 !important;
}
.layui-layer form .layui-btn-fluid{
    width: 60%;
    background: #5a822a;
}
#Lay-login,#Lay-register,#Lay-pwd{
    color: #aba9a9;
    background-color:#363636;

}
#Lay-register .layui-btn{
    height: 32px;
    line-height: 30px;
}
.btn-bg{
    background: #5a822a !important;
}
.layui-form-label {
    width: 100px;
}
.layui-layer .layui-input{
    width: 130%;
    height:35px;
    color: #dcdedc;
    border-style: none;
    border-color: #2B2B2B;
    background-color: #2B2B2B;
}
.layui-layer .layui-input:focus{
    border-color: #03a9f4 ;
    box-shadow: 0 0 12px 4px #03a9f4;
}
.layui-layer .layui-input:hover{
    border:1px solid #03a9f4 !important;
}
.navbar-right a{
    color: #fff;
}
.navbar-right .dropdown .dropdown-menu{
    top: 38px;
    min-width: 248px;
    height: 214px;
    font-size:10px;
    color:#fff;
    background: #333;
}
.navbar-right .dropdown .dropdown-menu .col-sm-9 a:hover{
    color: #ff6f3d;
}
.navbar-right .dropdown .dropdown-menu .row .col-sm-4:hover{
    background-color: #ff6f3d;
}
.navbar-right a:hover{
    color: #fff;
}
div.layui-layer-hui{
    background: #fff !important;
    opacity: .9 !important;
    color: #1a1919 !important;
    border-radius: 8px !important;
}
div.layui-layer-hui .layui-layer-content {
    padding: 8px 22px !important;
}


/*导航下行部分*/
.container .row  span  a{
    /*color: #5d5353;*/
    color: #333;
}
.container .row  span  a:hover{
    color: #ff6f3d;
}


/*页脚*/
footer .row{
    margin-top:60px;
    padding:20px;
    text-align: center;
    font-size: 16px;
    font-family: '微软雅黑';
    color: #fff;
    background-color: #333;
}
footer .row > p >span{
    opacity: .8;
}



